CompileFlags:
  Add:
    - "-ID:/QT/6.8.3/msvc2022_64/include"
    - "-ID:/QT/6.8.3/msvc2022_64/include/QtCore"
    - "-ID:/QT/6.8.3/msvc2022_64/include/QtWidgets"
    - "-ID:/QT/6.8.3/msvc2022_64/include/QtGui"
    - "-ID:/Git/QT_Projects/LayoutDemo/build/Desktop_Qt_6_8_3_MSVC2022_64bit-Debug/LayoutDemo_autogen/include"
    - "-std=c++17"
  CompilationDatabase: build/Desktop_Qt_6_8_3_MSVC2022_64bit-Debug
